/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.lightTheme{
  /* background: rgb(218, 210, 195); */
  background: gainsboro;
  color: black;
}

.darkTheme{
background-color: rgb(12, 12, 12);
color: white;
}